
<html>
    <head>
        <title>Gerente</title>
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    </head>
    <body>
        <h1>Controle de chamadas</h1>
       

        <h2> |-> Limpar Fila </h2>
        <button id="bt_resetarFila">Resetar Fila</button>
        <br>
        <h2> |-> Chamar Fila </h2>
        <button id="bt_chamarFila">Chamar Fila</button>
        <br>
        <p>Ultima Senha chamada: </p>
        <br>
        <label id="lb_atendimentoFila">xxxxx</label>

      
        
    </body>
    <style>
        #lb_atendimentoFila{
            font-size: xx-large;
        }
    </style>
    
</html>