
<html>
    <head>
        <title>Ben Vindo</title>
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    </head>
    <body>
        <h1>Escolha seu perfil</h1>
       

        <h2> |-> Senha Normal </h2>
        <button id="bt_normalFila">Fila Normal</button>
        <br>
        <h2> |-> Senha Preferencial </h2>
        <button id="bt_preferencialFila">Fila Preferencial</button>
        <br>
        <p>Guarde sua Senha: </p>
        <br>
        <label id="lb_atendimentoFila">xxxxx</label>

      
        
    </body>
    <style>
        #lb_atendimentoFila{
            font-size: xx-large;
        }
    </style>
    
</html>